{% extends "forum/base.html" %}

{% block title %}
    Club xyz
{% endblock %}

{% block inner_sidebar %}Clubs's Name{% endblock inner_sidebar %}

{% block body %}
    <hr>
    <!-- <h2>Add a post</h2>
    <button type="button" name="button">Ask a question</button>
    <button type="button" name="button">Post article</button>
    <button type="button" name="button">Conduct poll</button> -->
    <div class="container">
      <h4>Having quesions not listed here ?</h4>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/forum/addpost" role="button">Add a Post</a>
    </div>

    <hr>
    <!-- <div class="" id="question">
      <h3>Question</h3>
      <p>this is a sample question</p>
    </div> -->
    <div class="wrapper container-fluid">
      <div class="row">
        <div class="col col-md-6">
          <div class="card" style="border:3px solid #00a3cc;margin:15px;border-radius:10px;">
            <div class="card-header" style="font-weight:bold;color:#00a3cc"><a href="#">Post1</a></div>
            <div class="card-body">
              <p class="card-text" style="margin:10px;" >A sample question.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="card" style="border:3px solid #00a3cc;margin:15px;border-radius:10px;">
            <div class="card-header" style="font-weight:bold;color:#00a3cc"><a href="#">Post 2</a></div>
            <div class="card-body">
              <p class="card-text" style="margin:10px;" >A sample question.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="card" style="border:3px solid #00a3cc;margin:15px;border-radius:10px;">
            <div class="card-header" style="font-weight:bold;color:#00a3cc"><a href="#">Post 3</a></div>
            <div class="card-body">
              <p class="card-text" style="margin:10px;" >A sample question.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
