{% extends "propose_join/base.html" %}

{% block title %}
    Propose Club
{% endblock %}

{% block body %}

  <div class="">
    <h1>Propose a club</h1>
    <form class="" action="" method="">
      <table>
        <tr>
          <td>Name :</td>
          <td><input type="text" name="" value="" placeholder="Enter Club's name"></td>
        </tr>
        <tr>
          <td>Category :</td>
          <td><select class="" name="">

          </select></td>
        </tr>
        <tr>
          <td>Targetted people :</td>
          <td><input type="text" name="" value="" placeholder="Who can join the club?"></td>
        </tr>
        <tr>
          <td>Club admins :</td>
          <td><input type="text" name="" value="" ></td>
        </tr>
        <tr>
          <td>About :</td>
          <td><textarea name="name" rows="8" cols="80" placeholder="Enter information about the club"></textarea></td>
        </tr>
        <tr>
          <td>Logo :</td>
          <td><input type= "file" name="" value=""></td>
        </tr>
      </table>
      <input type="submit" name="" value="Register">
    </form>
  </div>

{% endblock %}
