<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
  </head>
  <body>
<!--    <header>
      <div id="brand" >
        <h1>CLUBSportal</h1>
      </div>
    </header>-->
    {% if user.is_authenticated %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Clubs Portal</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class=""><a href="">Home</a></li>
            <li><a href="{% url 'registration:view_profile_url' %}">Profile</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi {{ request.user }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'registration:edit_profile_url' %}">Edit profile</a></li>
                  <li><a href="{% url 'registration:change_password_url' %}">Change Password</a></li>
                  <li><a href="{% url 'registration:logout_url' %}">Log out</a></li>
                </ul>
              </li>
              <!--<form class="" action="{% url 'registration:logout_url' %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="Logout" style="height:50px">
              </form>-->
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Clubs Portal</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class=""><a href="index.html">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'registration:signup_url' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'registration:login_url' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

<div class="container">
  {% block body %}
  {% endblock %}
</div>

</body>
</html>
