{% extends "registration/base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
<br><br><br>
<form class="" action="{% url 'registration:change_password_url' %}" method="post">
  {% csrf_token %}
  {% for field in form_inst %}
    {{ field.label_tag }}<br>
    {{ field }}<br>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
  {% endfor %}<br>
  <input type="submit" name="" value="Change password" style="width:125px">
</form>
{% endblock %}
