{% extends "registration/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

  <div class="">
    <br><br>
    <h1>Login</h1>
    <form class="" action="{% url 'registration:login_url' %}" method="post">
      {% csrf_token %}
      {% for field in form_inst %}
        {{ field.label_tag }}<br>
        {{ field }}<br>
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
      {% endfor %}
      <a href="{% url 'registration:forgot_password_url' %}">    Forgot Password?</a><br><br>
      <input type="submit" value="login" style="width:125px"><br>
      <br>
      <a href="{% url 'registration:signup_url' %}"><u>Create account</u></a>
    </form>
  </div>

{% endblock %}
