{% extends "registration/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

  <div class="">
    <h1>Login</h1>
    <form class="" action="" method="">
      Email<br><input type="email" name="" value="" placeholder="Enter email"><br>
      Password<br><input type="password" name="" value="" placeholder="Enter password">
      <a href="#">Forgot Password</a><br>
      <input type="submit" name="" value="Sign In"><br>
      <a href="register.html">Create account</a>
    </form>
  </div>

{% endblock %}
