<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
  </head>
  <body>
    <header>
      <div id="brand" >
        <h1>CLUBSportal</h1>
      </div>
    </header>
            <nav>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a href="#">Login/Registration</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </nav>
    <div class="">
      <h1>Register</h1>
      <form class="" action="" method="">
        <table>
          <tr>
            <td>Name :</td>
            <td><input type="text" name="" value="" placeholder="Enter your name"></td>
          </tr>
          <tr>
            <td>Email :</td>
            <td> <input type="email" name="" value="" placeholder="Enter your email"></td>
          </tr>
          <tr>
            <td>Username :</td>
            <td><input type="text" name="" value="" placeholder="Enter a Username"></td>
          </tr>
          <tr>
            <td>Sex :</td>
            <td> <select class="" name="">
              <option value="">Male</option>
              <option value="">Female</option>
            </select> </td>
          </tr>
          <tr>
            <td>Profession :</td>
            <td> <select class="" name="">
              <option value="">UnderGraguate</option>
            </select> </td>
          </tr>
          <tr>
            <td>UG :</td>
            <td> <select class="" name="">
              <option value="">UG1</option>
              <option value="">UG2</option>
              <option value="">UG3</option>
              <option value="">UG4</option>
            </select> </td>
          </tr>
          <tr>
            <td>Password :</td> <td> <input type="password" name="" value="" placeholder="Enter a password"> </td>
          </tr>
          <tr>
            <td>Confirm Password :</td> <td> <input type="password" name="" value="" placeholder="Re-Enter the above password"> </td>
          </tr>
        </table>
        <input type="submit" name="" value="Register">
      </form>
    </div>
  </body>
</html>
